@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@1,400..900&display=swap');
/*
    font-family: "Playfair Display",
    serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: italic;

    .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

*/

html {
    scroll-behavior: smooth;
}

:root {
    --colorprincipal: #58fefe;
    --colorsecundario: #28253d;
    --fontsize: 1rem;
    --anchomaximo: 68.75em;
    --margingrid: 1em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.styleSelect {
    appearance: none;
    width: 100%;
    cursor: pointer;
    color: #1f1d1d;
    font-family: "Playfair Display", italic;
    color: rgba(0, 0, 0, 0.478);
    border: 2px dashed salmon;
    transition: all 0.25s ease;
    text-align: center;

}